<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logfile analyser</title>
</head>
<body style="background-color: black; color: yellow;">
    <h1>LOGFILE ANALYSIS CREATOR</h1>
    <nav style="background-color: gray; text-align: left; justify-content: space-between;">
        <a style="color: white; text-decoration: none;" href='/'>Upload</a>
        <a style="color: white; text-decoration: none;" href='/viewcsv'>CSV</a>
        <a style="color: white; text-decoration: none;" href="/viewplot">Plots</a>
    </nav>
    <br><br><br>
    <form method="POST" enctype="multipart/form-data" style="border-style: inset;">
        <label for="uploadfile">Upload the log file: </label>
        <input type="file" id="uploadfile" name="inputfile"><br><br>
        <input type="submit" name="submit" value="Upload">
    </form>
    <br>
    <div style="border-style: inset;">
        <p>Message: <span style="color: {{ msgcolor or 'yellow' }};"><b>{{ message1 }}</b></span></p>
    </div>
    <br><br><br>
    <form method="POST" style="border-style: inset;">
        <p>Below you can also select the start time and end time over which you wish to analyse!<br> You can leave it to analyse all of the data you provided.<br> It will be applied over whatever file you had uploaded last.</p><br>
        <label for="starttime">Start Time: </label>
        <input type="datetime-local" name="starttime" id="starttime" step="1" min="1970-01-01T00:00:00" required><br><br>
        <label for="endtime">End Time: </label>
        <input type="datetime-local" name="endtime" id="endtime" step="1" min="1970-01-01T00:00:00" required><br><br>
        <input type="submit" name="submit" value="Select">
    </form>
    <br>
    <div style="border-style: inset;">
        <p>Message: <span style="color: {{ msgcolor or 'yellow' }};"><b>{{ message2 }}</b></span></p>
    </div>
        

</body>
</html>