<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logfile analyser</title>
</head>
<body style="background-color: black; color: yellow;">
    <h1>LOGFILE ANALYSIS CREATOR</h1>
    <nav style="background-color: gray; text-align: left; justify-content: space-between;">
        <a style="color: white; text-decoration: none;" href='/'>Upload</a>
        <a style="color: white; text-decoration: none;" href='/viewcsv'>CSV</a>
        <a style="color: white; text-decoration: none;" href="/viewplot">Plots</a>
    </nav>
    <h2>{{ message }}</h2>

</body>
</html>